$black: #000;
$enable-gradient:  linear-gradient(90deg, rgba($black, .25), rgba($black, .001)); 
$enable-gradients: linear-gradient(270deg, rgba($black, .55), rgba($black, .001));



.carousel-control-prev {
    left: 0;
    background-image:$enable-gradient;
}
.carousel-control-next{
    right: 0;
    background-image:$enable-gradients;
}