@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.form-login {
  width: 400px;
  height: 340px;
  background: white;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 4px solid #000000;
  color: rgb(0, 0, 0);
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: pink;
  border: none;
  color: rgb(0, 0, 0);
  margin-bottom: 16px;
}

.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}