.h1Velve{
  display: block;
  margin-left: 40vw;
  margin-top: 40px;
}
@media screen and (max-width: 800px) {
  .h1Velve{
    display: flex;
    flex-wrap: wrap;

    margin-left: 40vw;
    margin-top: 40px;
  }
}
#sectionIg1 {
    display: flex;
    width: 100%;
  }

  .columna{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 300px;
    height: 400px;
  }
  
  #sectionIg {
    display: flex;
    flex-shrink: 0.5 ;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }