#titulo {
  display: flex;
  flex-grow: 100px;
  padding-top: 100px;
  margin-left: 200px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 30px;
}

  .container__contenedorConjuntos {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
