@import url("//db.onlinewebfonts.com/c/01a1cdebb8bf5b8573622fa6f689369c?family=Vladimir+Script");
@import url("https://kit.fontawesome.com/589a0fb908.js");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
body {
  background: url(../images/background/banner11.png) no-repeat center center fixed;
  background-size: cover;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*COLORES*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #C25E30;
}

#comoComprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #fac6fa;
  border-radius: 10px;
  -webkit-box-shadow: 7px 13px 37px black;
          box-shadow: 7px 13px 37px black;
  border-top: 4px solid #000000;
  color: black;
  margin-top: 10%;
  margin-bottom: 30%;
  margin-left: 33vw;
  margin-right: 22vw;
  padding: 15px;
}

#comoComprar .buttonComoComprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: inline-block;
  padding: 1px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 3px solid #725AC1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #725AC1;
          box-shadow: inset 0 0 0 0 #725AC1;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#comoComprar .buttonComoComprar a {
  text-decoration: none;
  color: black;
}

#comoComprar .buttonComoComprar:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #725AC1;
          box-shadow: inset 0 -100px 0 0 #725AC1;
}

#comoComprar button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  #comoComprar {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 17vw;
    margin-right: auto;
  }
}

@media screen and (max-width: 375px) {
  #comoComprar {
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

/*COLORES*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #C25E30;
}

footer {
  background-color: pink;
  text-align: center;
  margin-top: 30px;
}

footer .centerLogoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .list-unstyled li a {
  text-decoration: none;
  color: #ff008c;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  width: 20px;
}

footer .list-unstyled li a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .footerTutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

footer .text-uppercase img {
  width: 30%;
  height: auto;
}

footer .footer-copyright {
  margin-bottom: 0px;
}

#contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 10%;
  max-width: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: pink;
  padding: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  margin-bottom: 200px;
}

#contactUs #nombre, #contactUs #celular,
#contactUs #email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #725AC1;
  border-radius: 10px;
}

#contactUs .textoImput {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
}

#contactUs #mensaje {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contactUs #nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 27px;
  background: #ffffff;
  border: 2px solid #725AC1;
}

#contactUs textarea {
  width: 100%;
  height: 120px;
  background: #ffffff;
  border: 2px solid #725AC1;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  color: #000000;
  margin-bottom: 30px;
}

#contactUs .buttons3 {
  position: relative;
  display: inline-block;
  padding: 1px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 3px solid #725AC1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #725AC1;
          box-shadow: inset 0 0 0 0 #725AC1;
  margin-bottom: 40px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

#contactUs .buttons3 a {
  text-decoration: none;
  color: black;
}

#contactUs .buttons3:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #725AC1;
          box-shadow: inset 0 -100px 0 0 #725AC1;
}

#contactUs .buttons3:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

h1 {
  display: block;
  position: center;
  color: black;
  font-family: 'Dancing Script';
}

/*COLORES*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #C25E30;
}

.nav-link {
  font-weight: bold;
  margin-left: 15px;
}

.navbar {
  background-color: pink;
}

#opciones {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 30px;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-brand img {
  width: auto;
  height: 30px;
}

#opciones {
  padding-left: 0px;
  padding-right: 20px;
}

.h1Velve {
  display: block;
  margin-left: 40vw;
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .h1Velve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 40vw;
    margin-top: 40px;
  }
}

#sectionIg1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.columna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
  height: 400px;
}

#sectionIg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget_blog_subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  width: 40%;
  max-width: 350px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  background-color: #f5a1cf;
  -webkit-box-shadow: 7px 13px 37px black;
          box-shadow: 7px 13px 37px black;
  padding: 20px 30px;
  border-top: 4px solid #000000;
  color: black;
}

.widget_blog_subscription h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
}

.widget_blog_subscription #subscribe-field {
  margin-top: 30px;
  margin-bottom: 30px;
}

.widget_blog_subscription .inputs {
  text-align: center;
  width: 95%;
  padding: 1px 2px;
}

.widget_blog_subscription .inputs:first-child {
  margin: 25px 15px 0;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: auto;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
}

.widget_blog_subscription input[type="text"] {
  margin: 10px;
  color: #999;
  padding: 6px 7px !important;
  text-align: center;
  width: 100% !important;
  max-width: calc(100% - 30px);
  outline: none;
  border: 0;
  font-size: 12px;
}

/*COLORES*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #C25E30;
}

.col-sm {
  padding-left: 30px;
}

.col-sm img {
  height: 100px;
}

.h2Testimonios {
  display: block;
  position: center;
  color: black;
  font-family: 'Dancing Script';
  margin-left: 30px;
  margin-bottom: 50px;
}

.testimonios {
  padding: 10px;
  background-color: #f7a2e8;
  border-radius: 30px;
  font-weight: bold;
  margin-left: 5vw;
  margin-right: 5vw;
  -webkit-box-shadow: 7px 13px 37px black;
          box-shadow: 7px 13px 37px black;
  padding: 20px 30px;
  border-top: 4px solid #000000;
  color: black;
  margin-bottom: 100px;
}

.testimonios .fotoCliente {
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonios .testimonios__nombreTest {
  font-size: 30px;
  padding: 20px;
}

.testimonios .testimonios__ciudadTest {
  color: grey;
  padding: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
  .testimonios .testi1 {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
  }
}

@media screen and (max-width: 575px) {
  .testi1 {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
}

#titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100px;
      -ms-flex-positive: 100px;
          flex-grow: 100px;
  padding-top: 100px;
  margin-left: 200px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 30px;
}

.container__contenedorConjuntos {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container__contenedorConjuntos .card-title {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  size: 40px;
}

.container__contenedorConjuntos .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border: solid 2px black;
  border-radius: 10px;
  -webkit-box-shadow: 7px 13px 37px black;
          box-shadow: 7px 13px 37px black;
}

.container__contenedorConjuntos .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__contenedorConjuntos .card-body .precio {
  color: green;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-weight: 700;
  margin-top: auto;
  text-align: center;
}

.container__contenedorConjuntos .buttons2 {
  position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 3px solid #725AC1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #725AC1;
          box-shadow: inset 0 0 0 0 #725AC1;
  margin-bottom: 40px;
}

.container__contenedorConjuntos .buttons2 a {
  text-decoration: none;
  color: black;
}

.container__contenedorConjuntos .buttons2:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #725AC1;
          box-shadow: inset 0 -100px 0 0 #725AC1;
}

.container__contenedorConjuntos .buttons2:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.carousel-control-prev {
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.001)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.001));
}

.carousel-control-next {
  right: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.001)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.001));
}

@media screen and (max-width: 400px) {
  .w-100 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-height: 150px;
  }
}

/*COLORES*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #C25E30;
}

/*COLORES*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #C25E30;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30vw;
  padding-right: 30vw;
}

.form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  max-width: 600px;
  height: 400px;
  background: pink;
  margin-top: 180px;
  -webkit-box-shadow: 7px 13px 37px black;
          box-shadow: 7px 13px 37px black;
  padding: 40px 60px;
  border-top: 4px solid #000000;
  color: black;
  margin-bottom: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  margin-bottom: 200px;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.buttons1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #725AC1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #725AC1;
          box-shadow: inset 0 0 0 0 #725AC1;
  margin-bottom: 40px;
}

.buttons1 a {
  text-decoration: none;
  color: black;
}

.buttons1:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #725AC1;
          box-shadow: inset 0 -100px 0 0 #725AC1;
}

.buttons1:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.form-login a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.form-login a:hover {
  text-decoration: underline;
}

button {
  position: relative;
  display: inline-block;
  padding: 1px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 3px solid #725AC1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 0 #725AC1;
          box-shadow: inset 0 0 0 0 #725AC1;
  margin-bottom: 40px;
}

button a {
  text-decoration: none;
  color: black;
}

button:hover {
  color: white;
  -webkit-box-shadow: inset 0 -100px 0 0 #725AC1;
          box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

* body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=estilos.css.map */