
.widget_blog_subscription {
    display: flex;
    margin: 50px auto;
    width: 40%;
    max-width: 350px;
    min-width: 200px;
    position: relative;
    overflow: hidden;
    background-color: #f5a1cf;
    border: 1px black;
  h2{
    padding-top: 30px;
    padding-left: 10px;
  }
    .inputs {
      margin-bottom: 10px;
      text-align: center;
  
      &:first-child {
        margin: 25px 15px 0;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        font-size: auto;
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 1px;
      }
    }
  
    input {
      &[type="text"] {
        margin: 45px 30px;
        color: #999;
        padding: 15px 15px !important;
        text-align: center;
        width: 100% !important;
        max-width: calc(100% - 90px);
        outline: none;
        border: 0;
        font-size: 12px;
      }
  
      &[type="submit"] {
        margin: 0;
        background-color: #f700882c;
        color: rgb(14, 14, 14);
        padding: 1px 1px !important;
        text-align: center;
        width: 12rem;
        max-width: 100%;
        outline: none;
        border: 0;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        -webkit-transition: .5s all ease-in-out;
        -moz-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        transition: .5s all ease-in-out;
        border-radius: 10px;
  
        &:hover {
          background-color: #ff01ff;
        }
      }
    }
  }
  