
@import "variables";
/*Testimonios*/


.testimonios {
  padding: 10px;
  background-color: rgb(247, 162, 232);
  border-radius: 30px;
  border: 2px solid #000000;
  font-weight: bold;

  .testimonios__nombreTest{
    font-size: 30px;
    padding: 20px;
  }
  .testimonios__ciudadTest{
    color: grey;
    padding: 10px;
  }
  @media screen and (min-width: 576px){
 .testi1{
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
 }
}
}

@media screen and (max-width: 575px){
.testi1{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
 }
}